@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@200;300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

button:focus,
input:focus {
  outline: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100vw;
  margin: 0;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #121212;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pagewrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.pagewrapper.dark-theme {
  background-color: #121212;
  color: #fff;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }
}
.preloader {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  -webkit-animation: 1s linear 2.3s preloadHide;
          animation: 1s linear 2.3s preloadHide;
}

.preloader__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 3.3s ease-in-out preloadShow;
          animation: 3.3s ease-in-out preloadShow;
}

.preloader__wrapper-mobile {
  display: none;
}

.pagewrapper.loaded .preloader {
  height: calc(100vh - 385px);
  min-height: 350px;
  z-index: inherit;
}

@-webkit-keyframes preloadShow {
  0% {
    height: 0;
    top: 50%;
  }
  60% {
    height: 100vh;
    top: -85px;
  }
  100% {
    height: calc(100vh - 385px);
    top: 0;
  }
}

@keyframes preloadShow {
  0% {
    height: 0;
    top: 50%;
  }
  60% {
    height: 100vh;
    top: -85px;
  }
  100% {
    height: calc(100vh - 385px);
    top: 0;
  }
}
@-webkit-keyframes preloadHide {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes preloadHide {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
.preloader__col {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader__circle {
  -webkit-box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15), -11px -10px 12px rgba(255, 255, 255, 0.15);
          box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15), -11px -10px 12px rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  -webkit-animation: 4s ease-in-out scaleCircle;
          animation: 4s ease-in-out scaleCircle;
}

@-webkit-keyframes scaleCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.col-gold {
  background: linear-gradient(134.54deg, #fde990 0%, #a46c33 99.2%);
}
.col-gold .preloader__circle {
  background: linear-gradient(142.64deg, #d1a451 14.68%, #c89947 85.51%);
}

.col-purple {
  background: linear-gradient(134.54deg, #f9d3c6 0%, #bc7f6d 99.2%);
}
.col-purple .preloader__circle {
  background: linear-gradient(142.64deg, #da9b8c 14.68%, #d5a092 85.51%);
}

.col-black {
  background: linear-gradient(134.54deg, #3f4448 0%, #0c1115 99.2%);
}
.col-black .preloader__circle {
  background: linear-gradient(142.64deg, #1c2023 14.68%, #182023 85.51%);
}

.heroimage {
  height: calc(100vh - 385px);
  width: 100%;
  position: relative;
  min-height: 350px;
}
.heroimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.heromarquee {
  background-color: #fff;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.heromarquee .heromarquee__item {
  height: 100%;
}

.heromarquee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.heromarquee__item svg {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}
.heromarquee__item circle,
.heromarquee__item .red {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dark-theme .heromarquee {
  background-color: #121212;
}
.dark-theme .heromarquee .heromarquee__item .darktext {
  fill: #fff;
}
.dark-theme .heromarquee .heromarquee__btn svg rect.darktext {
  stroke: #fff;
  fill: transparent;
}
.dark-theme .heromarquee .heromarquee__btn svg circle.darktext {
  fill: #fff;
  stroke: #fff;
}

.heromarquee.active .heromarquee__btn svg rect {
  stroke: #fff;
}
.heromarquee.active .heromarquee__btn svg path {
  fill: #fff;
}
.heromarquee.active .heromarquee__btn svg circle {
  -webkit-transform: translateX(8%);
          transform: translateX(8%);
}

.slide-container {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  left: 0;
  height: auto;
}

.slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}

.slide-right {
  animation-direction: reverse !important;
}

.animate-left {
  -webkit-animation: moveLeft 30s linear infinite;
          animation: moveLeft 30s linear infinite;
}

@-webkit-keyframes moveLeft {
  100% {
    -webkit-transform: translate3d(calc(-100% + 100vw), 0, 0);
            transform: translate3d(calc(-100% + 100vw), 0, 0);
  }
}

@keyframes moveLeft {
  100% {
    -webkit-transform: translate3d(calc(-100% + 100vw), 0, 0);
            transform: translate3d(calc(-100% + 100vw), 0, 0);
  }
}
.slide-list li {
  display: block;
  width: 25vw;
  padding: 0 10px;
}

.services__item {
  width: 100%;
  border-top: 1px solid #121212;
  margin: 0;
  background-color: transparent;
  padding: 0 15px 20px;
}
.services__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__item-img {
  width: 100%;
  margin: 0;
}

.services__item-header {
  margin-bottom: 40px;
  padding-top: 20px;
}
.services__item-header p {
  color: currentColor;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.dark-theme .services__item {
  border-color: #fff;
}

.formsect {
  padding: 67px 0 120px;
}

.formsect__wrapper .formsect__top,
.formsect__wrapper .formsect__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
.formsect__wrapper h2 {
  font-weight: 200;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.formsect__wrapper h3 {
  font-weight: 200;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.formsect__wrapper .inputfield {
  height: 112px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}
.formsect__wrapper .inputfield:nth-of-type(odd):after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #fdbca7;
  z-index: -1;
}
.formsect__wrapper input {
  border: none;
  outline: none;
  border-bottom: 0.7px solid currentColor;
  background-color: transparent;
  max-width: 700px;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: currentColor;
}
.formsect__wrapper input::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.formsect__wrapper input::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.formsect__wrapper input:-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.formsect__wrapper input::-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.formsect__wrapper input::placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.formsect__wrapper input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.formsect__wrapper input:focus::-moz-placeholder {
  opacity: 0;
}
.formsect__wrapper input:focus:-ms-input-placeholder {
  opacity: 0;
}
.formsect__wrapper input:focus::-ms-input-placeholder {
  opacity: 0;
}
.formsect__wrapper input:focus::placeholder {
  opacity: 0;
}

.file-field {
  position: relative;
}
.file-field label {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  width: 444px;
  color: currentColor;
  cursor: pointer;
}

.formsect__left {
  width: 50%;
}

.formsect__right {
  width: 50%;
}
.formsect__right h2 {
  text-align: center;
}
.formsect__right li {
  position: relative;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formsect__right li p {
  width: 80%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}
.formsect__right li .step-number {
  position: absolute;
  z-index: 4;
  color: transparent;
  -webkit-text-stroke: 1px #dedede;
  top: 50%;
  right: -15%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.06em;
  font-style: normal;
  font-family: "Montserrat Alternates", sans-serif;
}
.formsect__right li:nth-of-type(even):after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #fdbca7;
  z-index: -1;
}
.formsect__right li:nth-of-type(even) .step-number {
  -webkit-text-stroke: 1px #121212;
}

.dark-theme .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #fff;
}
.dark-theme .jq-selectbox li {
  color: #fff;
}
.dark-theme .jq-selectbox__dropdown {
  background: #121212;
}
.dark-theme .formsect__right li .step-number,
.dark-theme .formsect__right li:nth-of-type(2n) .step-number {
  -webkit-text-stroke: 1px #fff;
}
.dark-theme .jq-file__browse {
  background: url(../../img/files_icon_white.svg);
  background-repeat: no-repeat;
}
.dark-theme .formsect__btn {
  border: 2px solid #fff;
}

.formsect__bottom .formsect__left,
.formsect__bottom .formsect__right {
  padding-right: 50px;
}

.formsect__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  outline: none;
  border: 2px solid #121212;
  border-radius: 70%;
  font-weight: 300;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  color: currentColor;
  max-width: 710px;
  width: 100%;
  height: 98px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.formsect__btn:hover {
  color: #fff;
  background-color: #121212;
}

.checkfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.checkfield label {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  margin-left: 15px;
}

.bottommarquee {
  height: 232px;
  margin-bottom: 150px;
  background-color: transparent;
}
.bottommarquee .slide-container {
  height: 100%;
  padding: 0;
}

.dark-theme .bottommarquee {
  background-color: transparent;
}
.dark-theme .bottommarquee .switch-text {
  fill: #fff;
  stroke: #fff;
}
.dark-theme .bottommarquee rect.switch-text {
  fill: transparent;
}

.heromarquee__sequence {
  height: 100%;
}
.heromarquee__sequence .slick-list {
  height: 100%;
}

.heromarquee__sequence-image img {
  height: 232px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0 auto;
  -webkit-transform-origin: 100% 100% !important;
          transform-origin: 100% 100% !important;
}

.footer .P p {
  display: inline-block;
}
.footer .P p + p {
  margin-left: 5px;
}
.footer .P p.time {
  width: 20px;
}

@media (max-width: 1800px) {
  .formsect__right li .step-number {
    right: -40px;
  }
  .formsect__wrapper h2 {
    font-size: 70px;
  }
  .formsect__wrapper h3 {
    font-size: 40px;
  }
}
@media (max-width: 1600px) {
  .preloader__circle {
    width: 18vw;
    height: 18vw;
  }
  .heromarquee {
    height: 240px;
  }
  .pagewrapper.loaded .preloader {
    height: calc(100vh - 325px);
  }
  .heroimage {
    height: calc(100vh - 325px);
  }
  @-webkit-keyframes preloadShow {
    0% {
      height: 0;
      top: 50%;
    }
    60% {
      height: 100vh;
      top: -85px;
    }
    100% {
      height: calc(100vh - 325px);
      top: 0;
    }
  }
  @keyframes preloadShow {
    0% {
      height: 0;
      top: 50%;
    }
    60% {
      height: 100vh;
      top: -85px;
    }
    100% {
      height: calc(100vh - 325px);
      top: 0;
    }
  }
}
@media (max-width: 1200px) {
  .bottommarquee,
.heromarquee__sequence-image img {
    height: 200px;
  }
  .slide-list li {
    width: 33vw;
  }
  .formsect__wrapper .inputfield {
    padding-right: 30px;
  }
  .formsect__wrapper h2 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .footer .P {
    width: 200px;
  }
  .services__item-header {
    margin-bottom: 20px;
  }
  .services__item-header p {
    font-size: 16px;
  }
  .services__item {
    border: none;
    padding: 0;
  }
  .formsect__right li p {
    width: 88%;
  }
  .formsect__wrapper h3 {
    font-size: 30px;
  }
  .formsect__wrapper h2 {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .preloader,
.heroimage,
.pagewrapper.loaded .preloader {
    height: calc(100vh - 414px);
  }
  .topmarquee {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .pagewrapper.loaded .topmarquee {
    opacity: 1;
  }
  .preloader__wrapper {
    display: none;
  }
  .preloader__wrapper-mobile {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .mobile__circle {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(240%, -50%);
            transform: translate(240%, -50%);
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    -webkit-animation: 3.2s ease-in-out circleMobile;
            animation: 3.2s ease-in-out circleMobile;
  }
  .mobile__circle-gold {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    left: -10%;
    background: linear-gradient(142.64deg, #d1a451 14.68%, #c89947 85.51%);
  }
  .mobile__circle-purple {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    left: 26%;
    background: linear-gradient(142.64deg, #da9b8c 14.68%, #d5a092 85.51%);
  }
  .mobile__circle-black {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
    right: -10%;
    background: linear-gradient(142.64deg, #1c2023 14.68%, #182023 85.51%);
  }
  .pagewrapper.loaded .mobile__circle {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  @-webkit-keyframes circleMobile {
    0% {
      opacity: 0;
      -webkit-transform: translate(240%, -50%);
              transform: translate(240%, -50%);
    }
    45% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1);
              transform: translate(0%, -50%) scale(1);
    }
    75% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1.15);
              transform: translate(0%, -50%) scale(1.15);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1);
              transform: translate(0%, -50%) scale(1);
    }
  }
  @keyframes circleMobile {
    0% {
      opacity: 0;
      -webkit-transform: translate(240%, -50%);
              transform: translate(240%, -50%);
    }
    45% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1);
              transform: translate(0%, -50%) scale(1);
    }
    75% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1.15);
              transform: translate(0%, -50%) scale(1.15);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, -50%) scale(1);
              transform: translate(0%, -50%) scale(1);
    }
  }
  .heromarquee.bottommarquee {
    margin-bottom: 40px;
    height: 180px;
  }
  .heromarquee.bottommarquee .heromarquee__item {
    height: 160px;
  }
  .heromarquee__sequence-image img {
    height: 180px;
  }
  .slide-list {
    padding: 10px 0;
  }
  .bottommarquee .slide-list {
    padding: 0;
  }
  .formsect {
    padding: 60px 0 60px;
  }
  .formsect__wrapper .formsect__bottom {
    margin-bottom: 66px;
  }
  .formsect__bottom .formsect__left,
.formsect__bottom .formsect__right {
    padding-right: 0;
  }
  .formsect__bottom .formsect__left {
    margin-bottom: 30px;
  }
  .file-field label {
    width: 350px;
  }
  .jq-selectbox__trigger-arrow {
    width: 12px;
    height: 12px;
  }
  .jq-selectbox__trigger {
    top: 5px;
  }
  .formsect__btn {
    font-size: 30px;
    max-width: 350px;
    height: 60px;
  }
  .formsect__wrapper .inputfield {
    padding-right: 0;
  }
  .formsect__wrapper .inputfield:nth-of-type(odd):after {
    right: -10%;
  }
  .formsect__right li:nth-of-type(2n):after {
    left: -10%;
  }
  .formsect__left,
.formsect__right {
    width: 100%;
  }
  .formsect__top .formsect__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 90px;
  }
  .formsect__wrapper h2 {
    text-align: center;
  }
  .heromarquee .heromarquee__item {
    height: 80px;
  }
  .heromarquee {
    height: 234px;
  }
  .slide-list li {
    width: 45vw;
  }
}
@media (max-width: 576px) {
  .preloader,
.heroimage,
.pagewrapper.loaded .preloader {
    height: calc(100vh - 334px);
  }
  .formsect__wrapper h2 {
    font-size: 36px;
  }
  .heromarquee.bottommarquee {
    height: 130px;
  }
  .heromarquee.bottommarquee .heromarquee__item {
    height: 130px;
  }
  .heromarquee__sequence-image img {
    height: 130px;
  }
  .formsect__bottom .formsect__right {
    padding-top: 50px;
  }
  .file-field label {
    font-size: 12px;
    width: 100%;
    top: 0;
  }
  .formsect__wrapper h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .formsect__right li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .formsect__right li p {
    text-align: left;
  }
  .formsect__right li p {
    width: 80%;
  }
  .formsect__right li .step-number {
    right: -25px;
  }
  .formsect__btn {
    font-size: 18px;
    max-width: 271px;
    height: 50px;
  }
  .heromarquee .heromarquee__item {
    height: 40px;
  }
  .heromarquee {
    height: 154px;
  }
  .footer .P p {
    display: block;
  }
  .footer .P p + p {
    margin: 5px 0 0;
  }
}
@media (max-width: 375px) {
  .footer .P {
    width: auto;
  }
  .footer .P p {
    width: 100px;
  }
  .footer__contact-item.la-time {
    margin-bottom: 20px;
  }
}
.header {
  position: relative;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85px;
}

.header__logo a {
  display: block;
}
.header__logo img {
  width: 100%;
  background-size: cover;
}
.header__logo .white-logo {
  display: none;
}

.header__menu-mobile {
  display: none;
}

.header__menu,
.header__menu-mobile {
  width: 60%;
  padding-left: 5%;
}
.header__menu > ul,
.header__menu-mobile > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu > ul > li > a,
.header__menu-mobile > ul > li > a {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: currentColor;
  padding-bottom: 8px;
  position: relative;
}
.header__menu > ul > li > a::after,
.header__menu-mobile > ul > li > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #121212;
}
.header__menu .sub-menu,
.header__menu-mobile .sub-menu {
  height: 210px;
  width: 100vw;
  padding: 30px 0;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  left: 0;
  top: 100%;
}
.header__menu .sub-menu > p,
.header__menu-mobile .sub-menu > p {
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.11em;
  max-width: 470px;
  margin: 0 auto 30px;
}
.header__menu .sub-menu a,
.header__menu-mobile .sub-menu a {
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
}
.header__menu .sub-menu blockquote,
.header__menu-mobile .sub-menu blockquote {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #121212;
}
.header__menu .sub-menu blockquote p,
.header__menu-mobile .sub-menu blockquote p {
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #fff;
}
.header__menu .sub-menu blockquote p + p,
.header__menu-mobile .sub-menu blockquote p + p {
  margin-left: 50px;
}
.header__menu .sub-menu blockquote p + p:before,
.header__menu-mobile .sub-menu blockquote p + p:before {
  content: "/";
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  margin-right: 50px;
}
.header__menu .sub-menu span,
.header__menu-mobile .sub-menu span {
  display: block;
  font-weight: 300;
  font-size: 33px;
  margin-top: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.25em;
  color: currentColor;
}
.header__menu .sub-menu .sub-container,
.header__menu-mobile .sub-menu .sub-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu .sub-menu .sub-menu__col a,
.header__menu .sub-menu .sub-menu__col p,
.header__menu-mobile .sub-menu .sub-menu__col a,
.header__menu-mobile .sub-menu .sub-menu__col p {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
}
.header__menu .sub-menu .sub-menu__col a:last-child,
.header__menu .sub-menu .sub-menu__col p:last-child,
.header__menu-mobile .sub-menu .sub-menu__col a:last-child,
.header__menu-mobile .sub-menu .sub-menu__col p:last-child {
  margin-bottom: 0;
}
.header__menu .sub-menu a,
.header__menu-mobile .sub-menu a {
  padding-bottom: 3px;
}
.header__menu .sub-menu a:after,
.header__menu-mobile .sub-menu a:after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #121212;
  width: 0;
  height: 1px;
  display: block;
}
.header__menu .sub-menu a:hover:after,
.header__menu-mobile .sub-menu a:hover:after {
  width: 100%;
}
.header__menu .sub-menu ul,
.header__menu-mobile .sub-menu ul {
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li:hover .sub-menu {
  opacity: 1;
  z-index: 2;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.header__menu li:hover > a::after {
  width: 100%;
  left: 0;
}

.header__menu-item.active .sub-menu {
  opacity: 1;
  z-index: 2;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.header__menu-item.active > a::after {
  width: 100%;
  left: 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0;
  transition: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagewrapper.loaded .header__box {
  opacity: 1;
  -webkit-transition: opacity 1.3s;
  transition: opacity 1.3s;
}

.header__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33px;
  width: 108px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: currentColor;
  border: 0.4px solid currentColor;
  border-radius: 60%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__btn a:hover {
  color: #fff;
  background-color: #121212;
}

.header__lang {
  margin-left: 25px;
  position: relative;
}
.header__lang a {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: currentColor;
}

.header__lang-dropdown {
  position: absolute;
  top: 100%;
  left: -5px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #fff;
  padding: 5px;
}
.header__lang-dropdown a {
  color: currentColor;
}

.header__lang:hover .header__lang-dropdown {
  opacity: 1;
  z-index: 2;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header__switch {
  margin-left: 20px;
  height: 20px;
  width: 12px;
  cursor: pointer;
  position: relative;
}
.header__switch:before, .header__switch:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0.3px solid #121212;
  left: 0;
}
.header__switch::before {
  background-color: #121212;
  top: 0;
  z-index: 1;
}
.header__switch::after {
  background-color: #fff;
  top: 8px;
}
.header__switch.active::before {
  background-color: #fff;
  z-index: 0;
}
.header__switch.active::after {
  background-color: #121212;
  z-index: 1;
}

.dark-theme .header__logo .white-logo {
  display: block;
}
.dark-theme .header__logo .dark-logo {
  display: none;
}
.dark-theme .header__menu > ul > li > a:after {
  background-color: #fff;
}
.dark-theme .header__btn a:hover {
  color: #121212;
  background-color: #fff;
}
.dark-theme .header__switch:before, .dark-theme .header__switch:after {
  border: 0.3px solid #fff;
}
.dark-theme .sub-menu {
  background-color: #121212;
}
.dark-theme .sub-menu > p {
  color: #fff;
}
.dark-theme .sub-menu a:after {
  background-color: #fff;
}
.dark-theme .header__menu .sub-menu blockquote,
.dark-theme .header__menu-mobile .sub-menu blockquote {
  background-color: #fff;
}
.dark-theme .header__menu .sub-menu blockquote p,
.dark-theme .header__menu .sub-menu blockquote p:before,
.dark-theme .header__menu-mobile .sub-menu blockquote p,
.dark-theme .header__menu-mobile .sub-menu blockquote p:before {
  color: #121212;
}
.dark-theme .header__menu-mobile > ul > li > a:after,
.dark-theme .header__menu > ul > li > a:after {
  background-color: #fff;
}
.dark-theme .header__lang-dropdown {
  background-color: #121212;
}

.header__logo {
  -webkit-animation: 1.3s ease-in-out 2.5s fadeIn;
          animation: 1.3s ease-in-out 2.5s fadeIn;
}

.header__menu-item:nth-child(1) {
  -webkit-animation: 1.3s ease-in-out 2.7s fadeIn;
          animation: 1.3s ease-in-out 2.7s fadeIn;
}

.header__menu-item:nth-child(2) {
  -webkit-animation: 1.3s ease-in-out 2.9s fadeIn;
          animation: 1.3s ease-in-out 2.9s fadeIn;
}

.header__menu-item:nth-child(3) {
  -webkit-animation: 1.3s ease-in-out 3s fadeIn;
          animation: 1.3s ease-in-out 3s fadeIn;
}

.header__logo,
.header__menu-item {
  position: relative;
  z-index: 3;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  opacity: 0;
}

.pagewrapper.loaded .header__logo,
.pagewrapper.loaded .header__menu-item {
  position: initial;
  -webkit-transform: initial;
          transform: initial;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(0px, -7px);
            transform: translate(0px, -7px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(0px, -7px);
            transform: translate(0px, -7px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .header__menu > ul > li > a {
    font-size: 14px;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: block;
    width: 52%;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__box {
    margin-bottom: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__menu-mobile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    padding: 0;
  }
  .sub-menu__col {
    max-width: 30%;
  }
  .header__menu-mobile .sub-menu blockquote p + p {
    margin-left: 10px;
  }
  .header__menu-mobile .sub-menu blockquote p + p:before {
    margin-right: 10px;
  }
  .header__menu-mobile .sub-menu span {
    font-size: 28px;
    margin-top: 25px;
  }
  .header__menu-mobile .sub-menu {
    height: 230px;
  }
  .header__menu-mobile .sub-menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0px;
  }
  .header__menu-mobile .sub-menu ul li {
    width: 100%;
    text-align: center;
  }
  .header__menu-mobile .sub-menu ul li + li {
    margin-top: 25px;
  }
  .header__menu-mobile .sub-menu .sub-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-menu__col {
    max-width: 42%;
    width: 100%;
  }
  .sub-menu__col:last-child {
    margin-top: 20px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sub-menu__col:last-child a {
    width: 42%;
  }
}
@media (max-width: 576px) {
  .header__menu-mobile .sub-menu .sub-container {
    padding: 0px 15px;
  }
  .header__menu-mobile .sub-menu blockquote p {
    font-size: 10px;
  }
  .header__menu-mobile .sub-menu blockquote p + p {
    margin-left: 5px;
  }
  .header__menu-mobile .sub-menu blockquote p + p:before {
    margin-right: 5px;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .header__menu-mobile > ul > li > a,
.header__menu > ul > li > a {
    font-size: 14px;
  }
  .header__menu-mobile .sub-menu span {
    font-size: 24px;
    margin-top: 20px;
  }
  .header__menu-mobile .sub-menu blockquote p,
.header__menu-mobile .sub-menu blockquote p + p:before {
    font-size: 8px;
  }
}
.footer {
  background: #121212;
  padding: 105px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: left;
}

.footer__descr {
  width: 35%;
  margin-top: -20px;
}
.footer__descr p {
  font-weight: 300;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-width: 497px;
}

.footer__contact {
  width: 45%;
}

.footer__contact-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

.footer__contact-item {
  height: 55px;
}
.footer__contact-item.mobile {
  display: none;
}
.footer__contact-item p,
.footer__contact-item a {
  display: block;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  max-width: 210px;
}
.footer__contact-item a {
  display: inline-block;
  padding-bottom: 3px;
  max-width: 150px;
}
.footer__contact-item a:after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  width: 0;
  height: 1px;
  display: block;
}
.footer__contact-item a:hover:after {
  width: 100%;
}

.footer__contact-item.la-time {
  width: 220px;
}

.footer__services {
  width: 20%;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu ul li {
  margin-bottom: 25px;
  width: 45%;
}
.footer__menu ul li a {
  display: inline-block;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  padding-bottom: 3px;
}
.footer__menu ul li a:after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  width: 0;
  height: 1px;
  display: block;
}
.footer__menu ul li a:hover:after {
  width: 100%;
}

@media (max-width: 1600px) {
  .footer__descr {
    width: 32%;
  }
  .footer__services {
    width: 23%;
  }
}
@media (max-width: 1400px) {
  .footer {
    background: #121212;
    padding: 70px 0 100px;
  }
  .footer__descr {
    margin-top: 0;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__descr {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__descr p {
    max-width: 700px;
    margin: 0 auto;
  }
  .footer__contact {
    width: 60%;
  }
  .footer__services {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .footer__contact {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .footer__menu ul li {
    margin-bottom: 25px;
    width: 100%;
  }
  .footer__services {
    width: 20%;
  }
  .footer__contact {
    width: 77%;
  }
  .footer__contact-wrapper {
    padding: 0;
  }
  .footer__services {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .footer__descr p {
    font-size: 44px;
    line-height: 52px;
  }
  .footer {
    padding: 70px 0;
  }
  .footer__contact,
.footer__services {
    width: 100%;
  }
  .footer__contact {
    margin-bottom: 45px;
  }
  .footer__contact-item.mobile {
    display: block;
  }
  .footer__contact-col {
    max-width: 40%;
  }
  .footer__contact-col.desctope {
    display: none;
  }
}
@media (max-width: 576px) {
  .footer__descr p {
    font-size: 38px;
    line-height: 46px;
  }
}