.app-heroimage {
    background: #f2ce6c;
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;
    transform: scale(1.3);
      animation: 6s ease-in-out appHeroimgAnim;
    video,
    img{
      height: 100%;
      object-fit: cover;
      object-position: 50% 20%;
      margin: 0 auto;
    }
    .video-tablet,
    .video-mobile{
        display: none;
    }
}
@keyframes appHeroimgAnim {
    0%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
    
}

.pagewrapper.loaded {
    .app-heroimage {
          transform: scale(1);
    }

}

.app-firstsect {
    padding-top: 120px;
}

.sectcontent {
    width: 100%;
    padding-bottom: 100px;
    background-color: #fff;

    img {
        width: 100%;
        background-size: cover;
    }

    p {
        margin: 0 auto 0;
        padding-top: 100px;
        font-weight: 700;
        font-size: 34px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.09em;
        color: #121212;
        max-width: 90%;
    }
}

.app-fourthsect {
    position: relative;
    width: 100%;
    padding-bottom: 150px;
    background: #fff;

    img {
        width: 100%;
        background-size: cover;
    }
}


.app-fourthsect__top,
.app-fourthsect__bottom {
    position: absolute;
    width: 60%;
}

.secttext {
    font-weight: 700;
    font-size: 34px;
    line-height: 160%;
    text-align: right;
    letter-spacing: 0.09em;
    color: #121212;
}

.app-fourthsect__top {
    top: 10px;
    right: 3%;
    text-align: right;
}

.app-fourthsect__bottom {
    text-align: left;
    bottom: 8%;
    left: 3%;
}

// RESPONSIVE

@media(max-width: 1600px) {

    .sectcontent p,
    .secttext {
        font-size: 26px;
    }
}

@media(max-width: 1200px) {

    .app-heroimage {
        .video-desc,
        .video-mobile{
            display: none;
        }
        .video-tablet{
            display: block;
        }
    }
    
    .app-firstsect {
        padding-top: 70px;
    }

    .app-fourthsect {
        padding: 90px 0;
    }

    .sectcontent {
        padding-bottom: 80px;

        p {
            padding-top: 80px;
            font-size: 22px;
        }
    }

    .secttext {
        font-size: 22px;
    }
}

@media(max-width: 767.8px) {
    @keyframes appHeroimgAnim {
        0%{
            transform: scale(1.8);
        }
        20%{
            transform: scale(1.8);
        }
        70%{
            transform: scale(1);
        }
        100%{
            transform: scale(1);
        }
        
    }

    .app-heroimage video, .app-heroimage img {
        object-fit: contain;
        object-position: 50% 0;
    }
    .app-heroimage {
        height: calc(100vh - 180px);
        .video-desc,
        .video-tablet{
            display: none;
        }
        .video-mobile{
            display: block;
        }
    }
    .app-firstsect {
        padding-top: 50px;
    }

    .sectcontent {
        padding-bottom: 40px;

        p {
            padding-top: 50px;
            font-size: 16px;
        }
    }

    .secttext {
        font-size: 15px;
    }

    .app-fourthsect__top {
        max-width: 450px;
        width: 95%;
    }

    .app-fourthsect__bottom {
        font-size: 15px;
        width: 75%;
    }

    .app-fourthsect {
        position: relative;
        width: 100%;
        padding: 100px 0 140px;
    }
}

@media(max-width: 375px) {
    .app-fourthsect {
        position: relative;
        width: 100%;
        padding: 130px 0;
    }
}