.business-heroimage{
    height: calc(100vh - 85px);
    width: 100%;
    svg{
        width: 100%;
    }
}

.box-1{
    animation: 3s ease-in-out infinite boxesWay;
}

@keyframes boxesWay {
    0%{
        
    }
    0%{
        
    }
    0%{
        
    }
    0%{
        
    }
    
}