// preloader
.preloader {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  animation: 3s linear preloadHide;
}

@keyframes preloadHide {
  0% {
    background-color: #fff;
  }

  60% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

.preloader__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  animation: 3.5s ease-in-out preloadShow;
  height: calc(100vh - 385px);
  min-height: 350px;
  z-index: inherit;
}

.preloader__wrapper-mobile {
  display: none;
}


@keyframes preloadShow {
  0% {
    height: 0;
    min-height: 0;
    top: 50%;
  }

  40% {
    height: 100vh;
    top: -85px;
  }

  80% {
    height: calc(100vh - 385px);
    top: 0;
  }

  100% {
    height: calc(100vh - 385px);
    top: 0;
  }
}

.preloader__col {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader__circle {
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15),
    -11px -10px 12px rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  animation: 4s ease-in-out scaleCircle;
}

@keyframes scaleCircle {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.col-gold {
  background: linear-gradient(134.54deg, #fde990 0%, #a46c33 99.2%);

  .preloader__circle {
    background: linear-gradient(142.64deg, #d1a451 14.68%, #c89947 85.51%);
  }
}

.col-purple {
  background: linear-gradient(134.54deg, #f9d3c6 0%, #bc7f6d 99.2%);

  .preloader__circle {
    background: linear-gradient(142.64deg, #da9b8c 14.68%, #d5a092 85.51%);
  }
}

.col-black {
  background: linear-gradient(134.54deg, #3f4448 0%, #0c1115 99.2%);

  .preloader__circle {
    background: linear-gradient(142.64deg, #1c2023 14.68%, #182023 85.51%);
  }
}

// heroimage section
.heroimage {
  height: calc(100vh - 385px);
  width: 100%;
  position: relative;
  min-height: 350px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

// heromarquee section
.heromarquee {
  background-color: #fff;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &.pagemarque {
    opacity: 1;
    background-color: #fff;
    animation: 3s ease-in-out showMarque;
  }

  .slide-list {
    display: flex;
    align-items: center;

    li {
      height: fit-content;
    }
  }
}

@keyframes showMarque {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

.heromarquee .heromarquee__item {
  height: 100%;
}

.heromarquee__item {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
  }

  svg {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;

    path {
      fill: currentColor;
    }
  }

  circle {
    transition: 0.3s;
  }
}

.dark-theme {
  .heromarquee {
    background-color: #121212;

    &.pagemarque {
      background-color: #fff;
    }

    .heromarquee__item {
      .darktext {
        fill: #fff;
      }
    }

    .heromarquee__btn svg rect.darktext {
      stroke: #fff;
      fill: transparent;
    }

    .heromarquee__btn svg circle.darktext {
      fill: #fff;
      stroke: #fff;
    }
  }
}

.heromarquee.active {
  .heromarquee__btn svg {
    rect {
      stroke: #fff;
    }

    path {
      fill: #fff;
    }

    circle {
      transform: translateX(8%);
    }
  }
}

.slide-container {
  position: absolute;
  left: 0;
  height: auto;
}

.slide-list {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  height: 100%;
}

.slide-right {
  animation-direction: reverse !important;
}

.animate-left {
  animation: moveLeft 10s linear infinite;
}

@keyframes moveLeft {
  100% {
    transform: translate(calc(-100% + 100vw));
  }
}

.slide-list li {
  display: block;
  width: 25vw;
  padding: 0 10px;
}

// services section
.services__mobile {
  display: none;
}

.services__desc {
  height: 100vh;
  width: 500vw;
  display: flex;
}

.services__item {
  width: 100vw;
  height: 100%;
  border-top: 1px solid #121212;
  background-color: #fff;
  margin: 0;

}

.services__item-img {
  text-align: center;
  height: 75%;
  margin: 2vh auto;

  img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}


.services__item-header {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  p {
    color: currentColor;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }
}

.dark-theme {
  .services__item {
    border-color: #fff;
    background-color: #121212;
  }

  .services__item-header {
    background-color: #121212;
  }
}

// formsect section
.formsect {
  padding: 67px 0 120px;
  position: relative;
  z-index: 3;
}

.formsect__wrapper {

  .formsect__top,
  .formsect__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 200;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
  }

  h3 {
    font-weight: 200;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
  }

  .inputfield {
    height: 112px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 50px;

    &:nth-of-type(odd) {
      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 200vw;
        height: 100%;
        background: #fdbca7;
        z-index: 1;
      }
    }
  }

  input {
    border: none;
    outline: none;
    border-bottom: 0.7px solid currentColor;
    background-color: transparent;
    max-width: 700px;
    width: 100%;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: currentColor;
    position: relative;
    z-index: 2;
    border-radius: 0;

    &::placeholder {
      transition: 0.3s;
      color: currentColor;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

.file-field {
  position: relative;

  label {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    width: 444px;
    color: currentColor;
    cursor: pointer;
  }
}

.formsect__left {
  width: 50%;
}

.formsect__right {
  width: 50%;

  h2 {
    text-align: center;
  }

  li {
    position: relative;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      position: relative;
      z-index: 2;
    }

    .step-number {
      position: absolute;
      z-index: 4;
      color: transparent;
      -webkit-text-stroke: 1px #dedede;
      top: 50%;
      right: -15%;
      transform: translateY(-50%) rotate(90deg);
      font-weight: 700;
      font-size: 50px;
      line-height: 61px;
      letter-spacing: 0.06em;
      font-style: normal;
      font-family: "Montserrat Alternates", sans-serif;
    }

    &:nth-of-type(even) {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 200vw;
        height: 100%;
        background: #fdbca7;
        z-index: 1;
      }

      .step-number {
        -webkit-text-stroke: 1px #121212;
      }
    }
  }
}

.dark-theme {
  .jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: #fff;
  }

  .jq-selectbox li {
    color: #fff;
  }

  .jq-selectbox__dropdown {
    background: #121212;
  }

  .formsect__right li .step-number,
  .formsect__right li:nth-of-type(2n) .step-number {
    -webkit-text-stroke: 1px #fff;
  }

  .jq-file__browse {
    background: url(../../img/files_icon_white.svg);
    background-repeat: no-repeat;
  }

  .formsect__btn {
    border: 2px solid #fff;
  }
}

.formsect__bottom {

  .formsect__left,
  .formsect__right {
    padding-right: 50px;
    height: 80px;

    input {
      height: 100%;
    }
  }
}

.formsect__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  outline: none;
  border: 2px solid #121212;
  border-radius: 70%;
  font-weight: 300;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  color: currentColor;
  max-width: 710px;
  width: 100%;
  height: 98px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;

  &:hover {
    color: #fff;
    background-color: #121212;
  }
}

.checkfield {
  display: flex;
  align-items: center;
  margin-top: 20px;

  label,
  a {
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-decoration-line: underline;
    margin-left: 15px;
  }
}

// section bottommarquee

.bottommarquee {
  height: 232px;
  margin-bottom: 150px;
  background-color: transparent;

  .slide-container {
    height: 100%;
    padding: 0;
  }
}

.dark-theme .bottommarquee {
  background-color: transparent;

  .switch-text {
    fill: #fff;
    stroke: #fff;
  }

  rect.switch-text {
    fill: transparent;
  }
}

.heromarquee__sequence {
  height: 100%;

  .slick-list {
    height: 100%;
  }
}

.heromarquee__sequence-image {
  img {
    height: 232px;
    object-fit: cover;
    background-size: cover;
    margin: 0 auto;
    transform-origin: 100% 100% !important;
  }
}

.footer .P {
  p {
    display: inline-block;

    &+p {
      margin-left: 5px;
    }

    &.time {
      width: 20px;
    }
  }
}

// Responsive
@media (max-width: 1800px) {
  .formsect__right li .step-number {
    right: -40px;
  }

  .formsect__wrapper h2 {
    font-size: 70px;
  }

  .formsect__wrapper h3 {
    font-size: 40px;
  }
}

@media (max-width: 1600px) {
  .preloader__circle {
    width: 18vw;
    height: 18vw;
  }

  .heromarquee {
    height: 240px;
  }

  .preloader__wrapper {
    height: calc(100vh - 325px);
  }

  .heroimage {
    height: calc(100vh - 325px);
  }


  @keyframes preloadShow {
    0% {
      height: 0;
      min-height: 0;
      top: 50%;
    }

    40% {
      height: 100vh;
      top: -85px;
    }

    80% {
      height: calc(100vh - 325px);
      top: 0;
    }

    100% {
      height: calc(100vh - 325px);
      top: 0;
    }
  }
}

@media (max-width: 1200px) {

  .services__item-img img {
    height: auto;
    width: 100%;
  }

  .bottommarquee,
  .heromarquee__sequence-image img {
    height: 200px;
  }


  .formsect__wrapper .inputfield {
    padding-right: 30px;
  }

  .formsect__wrapper h2 {
    font-size: 60px;
  }
}

@media (max-width: 992px) {

  .services__item-header {
    height: 30px;
    margin-bottom: 10px;
    border: none;
  }

  .services__item-img {
    height: 100%;
    margin: 0 auto;
  }

  .services__desc {
    display: none;
  }

  .services__mobile {
    display: block;

    &-item {
      padding-top: 20px;
    }
  }

  .bottommarquee,
  .heromarquee__sequence-image img {
    height: 180px;
  }

  .footer .P {
    width: 200px;
  }

  .services__item-header {
    margin-bottom: 20px;

    p {
      font-size: 16px;
    }
  }

  .services__item {
    border: none;
    padding: 0;
  }

  .formsect__right li p {
    width: 88%;
  }

  .formsect__wrapper h3 {
    font-size: 30px;
  }

  .formsect__wrapper h2 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {


  .pagewrapper.dark-theme {
    .preloader__wrapper-mobile {
      background: #121212;
    }
  }


  .preloader,
  .heroimage,
  .preloader__wrapper {
    height: calc(100vh - 314px);
  }


  .topmarquee {
    opacity: 1;
    transition: 0s;
    animation: 3.2s ease-in-out fadeTopMarque;
  }

  @keyframes fadeTopMarque {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

  }

  .header__menu>ul>li>a,
  .header__menu-mobile>ul>li>a {
    transition: 0s;
  }

  .preloader__wrapper {
    display: none;
  }

  .preloader__wrapper-mobile {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .mobile__circle {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 45vw;
    height: 45vw;
    border-radius: 50%;

    &-gold {
      animation-delay: 0.3s;
      left: -10%;
      background: linear-gradient(142.64deg, #d1a451 14.68%, #c89947 85.51%);
      animation: 3.7s ease-in-out circleMobile;
    }

    &-purple {
      animation-delay: 0.8s;
      left: 26%;
      background: linear-gradient(142.64deg, #da9b8c 14.68%, #d5a092 85.51%);
      animation: 4.7s ease-in-out circleMobile;
    }

    &-black {
      animation-delay: 1.3s;
      right: -10%;
      background: linear-gradient(142.64deg, #1c2023 14.68%, #182023 85.51%);
      animation: 5.5s ease-in-out circleMobile;
    }
  }


  @keyframes circleMobile {
    0% {
      opacity: 0;
      transform: translate(240%, -50%);
    }

    45% {
      opacity: 1;
      transform: translate(0%, -50%) scale(1);
    }

    70% {
      opacity: 1;
      transform: translate(0%, -50%) scale(1.15);
    }

    100% {
      opacity: 1;
      transform: translate(0%, -50%) scale(1);
    }
  }

  .heromarquee.bottommarquee {
    margin-bottom: 40px;
    height: 160px;

    .heromarquee__item {
      height: 160px;
    }
  }

  .heromarquee__sequence-image img {
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .slide-list {
    padding: 0;
  }

  .bottommarquee .slide-list {
    padding: 0;
  }

  .formsect {
    padding: 60px 0 60px;
  }

  .formsect__wrapper .formsect__bottom {
    margin-bottom: 66px;
  }

  .formsect__bottom .formsect__left,
  .formsect__bottom .formsect__right {
    padding-right: 0;
  }

  .formsect__bottom .formsect__left {
    margin-bottom: 30px;
  }

  .file-field label {
    width: 350px;
  }

  .jq-selectbox__trigger-arrow {
    width: 12px;
    height: 12px;
  }

  .jq-selectbox__trigger {
    top: 5px;
  }

  .formsect__btn {
    font-size: 30px;
    max-width: 350px;
    height: 60px;
  }

  .formsect__wrapper .inputfield {
    padding-right: 0;
  }

  .formsect__wrapper .inputfield:nth-of-type(odd):after {
    right: -10%;
  }

  .formsect__right li:nth-of-type(2n):after {
    left: -10%;
  }

  .formsect__left,
  .formsect__right {
    width: 100%;
  }

  .formsect__top .formsect__left {
    order: 2;
    margin-top: 90px;
  }

  .formsect__wrapper h2 {
    text-align: center;
  }

  .heromarquee .heromarquee__item {
    height: 70px;
  }

  .heromarquee {
    height: 140px;

    &.pagemarque {
      height: 220px;
    }
  }

}

@media (max-width: 576px) {

  .formsect {
    padding: 30px 0 60px;
  }

  .preloader,
  .heroimage,
  .preloader__wrapper {
    height: calc(100vh - 334px);
  }



  .formsect__wrapper h2 {
    font-size: 36px;
  }


  .formsect__bottom .formsect__right {
    padding-top: 50px;
  }

  .file-field label {
    font-size: 12px;
    width: 100%;
    top: 0;
  }

  .formsect__wrapper h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .formsect__right li {
    justify-content: flex-start;

    p {
      text-align: left;
    }
  }

  .formsect__right li p {
    width: 80%;
  }

  .formsect__right li .step-number {
    right: -20px;
  }

  .formsect__btn {
    font-size: 18px;
    max-width: 271px;
    height: 50px;
  }

  .heromarquee.bottommarquee {
    transform: scale(1.5) !important;
    height: 150px;

    .heromarquee__item {
      height: 100%;
    }
  }



  .heromarquee {
    &.pagemarque {
      height: 140px;
    }
  }

  .footer .P {
    p {
      display: block;

      &+p {
        margin: 5px 0 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .heromarquee {
    &.pagemarque {
      height: 120px;
    }
  }

  .heromarquee.bottommarquee {
    transform: scale(3) !important;
  }

  .footer .P {
    width: auto;

    p {
      width: 100px;
    }
  }

  .footer__contact-item.la-time {
    margin-bottom: 20px;
  }
}