.design-heroimage{
    height: calc(100vh - 85px);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}


// responsive
@media(max-width: 992px){
    .design-heroimage{
        height: auto;
        img{
            height: auto;
        }
    }
}