@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@200;300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

button:focus,
input:focus {
  outline: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100vw;
  margin: 0;
  cursor: default;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #121212;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pagewrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.pagewrapper.dark-theme {
  background-color: #121212;
  color: #fff;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }
}

.heroimage {
  height: calc(100vh - 375px);
  width: 100%;
}

.heroimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.heroslider {
  background-color: #fff;
  height: 290px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroslider .heroslider__item {
  height: 100%;
}

.heroslider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroslider__item svg {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}

.heroslider__item circle,
.heroslider__item .red {
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-theme .heroslider {
  background-color: #121212;
}

.dark-theme .heroslider .heroslider__item .darktext {
  fill: #fff;
}

.dark-theme .heroslider .heroslider__btn svg rect.darktext {
  stroke: #fff;
  fill: transparent;
}

.dark-theme .heroslider .heroslider__btn svg circle.darktext {
  fill: #fff;
  stroke: #fff;
}

.heroslider.active {
  background: #FDBCA7;
}

.heroslider.active svg .red {
  fill: #fff;
}

.heroslider.active .heroslider__btn svg rect {
  stroke: #fff;
}

.heroslider.active .heroslider__btn svg path {
  fill: #FFF;
}

.heroslider.active .heroslider__btn svg circle {
  fill: #121212;
  stroke: #121212;
  -webkit-transform: translateX(8%);
          transform: translateX(8%);
}

.slide-container {
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  left: 0;
  height: auto;
}

.slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}

.slide-right {
  animation-direction: reverse !important;
}

.animate-left {
  -webkit-animation: moveLeft 30s linear infinite;
          animation: moveLeft 30s linear infinite;
}

@-webkit-keyframes moveLeft {
  100% {
    -webkit-transform: translate3d(calc(-100% + 100vw), 0, 0);
            transform: translate3d(calc(-100% + 100vw), 0, 0);
  }
}

@keyframes moveLeft {
  100% {
    -webkit-transform: translate3d(calc(-100% + 100vw), 0, 0);
            transform: translate3d(calc(-100% + 100vw), 0, 0);
  }
}

.slide-list li {
  display: block;
  width: 25vw;
  padding: 0 10px;
}

.services__item {
  width: 100%;
  border-top: 1px solid #f1f1f1;
  margin: 0;
  background-color: transparent;
  padding: 0 15px;
}

.services__item img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__item-header {
  height: 40px;
  padding: 10px 0 0 20px;
}

.services__item-header p {
  color: currentColor;
}

.formsect {
  padding: 67px 0 100px;
}

.formsect__wrapper .formsect__top,
.formsect__wrapper .formsect__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.formsect__wrapper h2 {
  font-weight: 200;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 33px;
}

.formsect__wrapper h3 {
  font-weight: 200;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.formsect__wrapper .inputfield {
  height: 112px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

.formsect__wrapper .inputfield:nth-of-type(odd):after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #FDBCA7;
  z-index: -1;
}

.formsect__wrapper input {
  border: none;
  outline: none;
  border-bottom: 0.7px solid currentColor;
  background-color: transparent;
  max-width: 700px;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: currentColor;
}

.formsect__wrapper input::-webkit-input-placeholder {
  -webkit-transition: .3s;
  transition: .3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.formsect__wrapper input:-ms-input-placeholder {
  -webkit-transition: .3s;
  transition: .3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.formsect__wrapper input::-ms-input-placeholder {
  -webkit-transition: .3s;
  transition: .3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.formsect__wrapper input::placeholder {
  -webkit-transition: .3s;
  transition: .3s;
  color: currentColor;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.formsect__wrapper input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.formsect__wrapper input:focus:-ms-input-placeholder {
  opacity: 0;
}

.formsect__wrapper input:focus::-ms-input-placeholder {
  opacity: 0;
}

.formsect__wrapper input:focus::placeholder {
  opacity: 0;
}

.file-field {
  position: relative;
}

.file-field label {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  width: 444px;
  color: currentColor;
  cursor: pointer;
}

.formsect__left {
  width: 50%;
}

.formsect__right {
  width: 50%;
}

.formsect__right h2 {
  text-align: center;
}

.formsect__right li {
  position: relative;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formsect__right li p {
  width: 80%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.formsect__right li .step-number {
  position: absolute;
  z-index: 4;
  color: transparent;
  -webkit-text-stroke: 1px #DEDEDE;
  top: 50%;
  right: -15%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.06em;
  font-style: normal;
  font-family: 'Montserrat Alternates', sans-serif;
}

.formsect__right li:nth-of-type(even):after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #FDBCA7;
  z-index: -1;
}

.formsect__right li:nth-of-type(even) .step-number {
  -webkit-text-stroke: 1px #121212;
}

.dark-theme .formsect__right li .step-number,
.dark-theme .formsect__right li:nth-of-type(2n) .step-number {
  -webkit-text-stroke: 1px #fff;
}

.dark-theme .jq-file__browse {
  background: url(../../img/files_icon_white.svg);
  background-repeat: no-repeat;
}

.formsect__bottom .formsect__left,
.formsect__bottom .formsect__right {
  padding-right: 50px;
}

.formsect__btn {
  display: block;
  margin: 0 auto;
  outline: none;
  border: 2px solid currentColor;
  border-radius: 70%;
  font-weight: 300;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  color: currentColor;
  max-width: 710px;
  width: 100%;
  height: 98px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

.formsect__btn:hover {
  color: #fff;
  background-color: #121212;
}

.checkfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.checkfield label {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 15px;
}

.bottomslider {
  height: 320px;
  margin-bottom: 150px;
  background-color: transparent;
}

.bottomslider .slide-container {
  height: 100%;
  padding: 0;
}

.dark-theme .bottomslider {
  background-color: transparent;
}

.heroslider__frame {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.heroslider__frame .frame-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: none;
}

.heroslider__frame .frame-image.active {
  display: block;
}

@media (max-width: 1800px) {
  .formsect__right li .step-number {
    right: -40px;
  }
  .formsect__wrapper h2 {
    font-size: 70px;
  }
  .formsect__wrapper h3 {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .slide-list li {
    width: 33vw;
  }
  .formsect__wrapper .inputfield {
    padding-right: 30px;
  }
  .formsect__wrapper h2 {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .formsect__right li p {
    width: 88%;
  }
  .formsect__wrapper h3 {
    font-size: 30px;
  }
  .formsect__wrapper h2 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {
  .formsect__left,
  .formsect__right {
    width: 100%;
  }
  .heroslider .heroslider__item {
    height: 80px;
  }
  .heroslider {
    height: 234px;
  }
  .slide-list li {
    width: 45vw;
  }
}

@media (max-width: 576px) {
  .heroslider .heroslider__item {
    height: 40px;
  }
  .heroslider {
    height: 154px;
  }
}

.header {
  position: relative;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85px;
}

.header__logo a {
  display: block;
}

.header__logo img {
  width: 100%;
  background-size: cover;
}

.header__logo .white-logo {
  display: none;
}

.header__menu {
  width: 50%;
}

.header__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu > ul > li > a {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: currentColor;
  padding-bottom: 8px;
  position: relative;
}

.header__menu > ul > li > a::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 0;
  height: 1px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #121212;
}

.header__menu > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}

.header__menu .sub-menu {
  height: 210px;
  width: 100vw;
  padding: 30px 0;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  left: 0;
  top: 100%;
}

.header__menu .sub-menu > p {
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.11em;
  max-width: 470px;
  margin: 0 auto 30px;
}

.header__menu .sub-menu blockquote {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #121212;
}

.header__menu .sub-menu blockquote p {
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #fff;
}

.header__menu .sub-menu blockquote p + p {
  margin-left: 50px;
}

.header__menu .sub-menu blockquote p + p:before {
  content: '/';
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  margin-right: 50px;
}

.header__menu .sub-menu span {
  display: block;
  font-weight: 300;
  font-size: 33px;
  margin-top: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.25em;
  color: currentColor;
}

.header__menu .sub-menu .sub-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .sub-menu .sub-menu__col a,
.header__menu .sub-menu .sub-menu__col p {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
}

.header__menu .sub-menu .sub-menu__col a:last-child,
.header__menu .sub-menu .sub-menu__col p:last-child {
  margin-bottom: 0;
}

.header__menu .sub-menu a {
  padding-bottom: 3px;
}

.header__menu .sub-menu a:after {
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #121212;
  width: 0;
  height: 1px;
  display: block;
}

.header__menu .sub-menu a:hover:after {
  width: 100%;
}

.header__menu .sub-menu ul {
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li:hover .sub-menu {
  opacity: 1;
  z-index: 2;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33px;
  width: 108px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: currentColor;
  border: 0.4px solid currentColor;
  border-radius: 60%;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__btn a:hover {
  color: #fff;
  background-color: #121212;
}

.header__lang {
  margin-left: 25px;
}

.header__lang a {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: currentColor;
}

.header__switch {
  margin-left: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.header__switch:before, .header__switch:after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  border: 0.3px solid #121212;
  left: 0;
}

.header__switch::before {
  background-color: #121212;
  top: 0;
  z-index: 1;
}

.header__switch::after {
  background-color: #fff;
  top: 8px;
}

.header__switch.active::before {
  background-color: #fff;
  z-index: 0;
}

.header__switch.active::after {
  background-color: #121212;
  z-index: 1;
}

.dark-theme .header__logo .white-logo {
  display: block;
}

.dark-theme .header__logo .dark-logo {
  display: none;
}

.dark-theme .header__menu > ul > li > a:after {
  background-color: #fff;
}

.dark-theme .header__btn a:hover {
  color: #121212;
  background-color: #fff;
}

.dark-theme .header__switch:before, .dark-theme .header__switch:after {
  border: 0.3px solid #fff;
}

.dark-theme .sub-menu {
  background-color: #121212;
}

.dark-theme .sub-menu > p {
  color: #fff;
}

.dark-theme .sub-menu a:after {
  background-color: #fff;
}

.footer {
  background: #121212;
  padding: 105px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: left;
}

.footer__descr {
  width: 35%;
  margin-top: -20px;
}

.footer__descr p {
  font-weight: 300;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  max-width: 497px;
}

.footer__contact {
  width: 45%;
}

.footer__contact-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

.footer__contact-item {
  height: 55px;
}

.footer__contact-item.mobile {
  display: none;
}

.footer__contact-item p,
.footer__contact-item a {
  display: block;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  max-width: 210px;
}

.footer__contact-item a {
  display: inline-block;
  padding-bottom: 3px;
  max-width: 150px;
}

.footer__contact-item a:after {
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 0;
  height: 1px;
  display: block;
}

.footer__contact-item a:hover:after {
  width: 100%;
}

.footer__services {
  width: 20%;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu ul li {
  margin-bottom: 25px;
  width: 45%;
}

.footer__menu ul li a {
  display: inline-block;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  padding-bottom: 3px;
}

.footer__menu ul li a:after {
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  width: 0;
  height: 1px;
  display: block;
}

.footer__menu ul li a:hover:after {
  width: 100%;
}

@media (max-width: 1600px) {
  .footer__descr {
    width: 32%;
  }
  .footer__services {
    width: 23%;
  }
}

@media (max-width: 1400px) {
  .footer {
    background: #121212;
    padding: 70px 0 100px;
  }
  .footer__descr {
    margin-top: 0;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__descr {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__descr p {
    max-width: 700px;
    margin: 0 auto;
  }
  .footer__contact {
    width: 60%;
  }
  .footer__services {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .footer__contact {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .footer__menu ul li {
    margin-bottom: 25px;
    width: 100%;
  }
  .footer__services {
    width: 20%;
  }
  .footer__contact {
    width: 77%;
  }
  .footer__contact-wrapper {
    padding: 0;
  }
  .footer__services {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .footer__descr p {
    font-size: 44px;
    line-height: 52px;
  }
  .footer {
    padding: 70px 0;
  }
  .footer__contact,
  .footer__services {
    width: 100%;
  }
  .footer__contact {
    margin-bottom: 45px;
  }
  .footer__contact-item.mobile {
    display: block;
  }
  .footer__contact-col {
    max-width: 40%;
  }
  .footer__contact-col.desctope {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer__descr p {
    font-size: 38px;
    line-height: 46px;
  }
}
/*# sourceMappingURL=style.css.map */